<h1>備品詳細</h1>
<h2>備品名</h2>
<p><%= @item.name %></p>
<h2>所有課</h2>
<%= link_to @item.user.name, user_path(@item.user) %><br>
<h2>画像</h2>
<% if @item.image.attached? %>
    <%= image_tag @item.image.variant(resize_to_limit: [450, 350]) %><br>
<% else %>
    <%= image_tag 'no_image', size: "450x350" %>
<% end %>
<h2>備品の説明</h2>
<p><%= @item.description %></p>
<h2>カテゴリ</h2>
<p><%= @item.category.name %></p>
<h2>状態</h2>
<p><%= @item.status %></p>
<%= link_to '編集する', edit_item_path(@item.id) %><br>
<%= link_to '削除する', item_path(@item.id), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %><br>
<%= link_to '備品一覧へ', items_path %>