<!DOCTYPE html>
<html>
  <head>
    <title>TooLoop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <header>
      <div><%= link_to root_path, class: "text-white nav-link" do %>TooLoop<% end %></div>
      <div><%= link_to "備品検索", items_path, class: "text-white nav-link" %></div>
      <div><%= link_to "備品登録", new_item_path, class: "text-white nav-link" %></div>
      <div>予約確認</div>
      <% if user_signed_in? %>
        <div><%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white nav-link" %></div>
      <% else %>
        <div><%= link_to "ログイン", new_user_session_path do %></div>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <div>TooLoop</div>
      <div>管理：情報化推進室</div>
      <div>住所：⬜︎⬜︎町３番地１</div>
      <div>電話番号：（７７）７７７−７７７７</div>
      <div>Copyright © 2026 TooLoop All Rights Reserved.</div>
    </footer>
  </body>
</html>
